In [1]:
import pandas as pd

In [2]:
lottery = [4, 8, 15, 23, 16, 42]
pd.Series(lottery)

0     4
1     8
2    15
3    23
4    16
5    42
dtype: int64

In [3]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [4]:
registrations_series = pd.Series(registrations)

In [5]:
registrations_series

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [6]:
webster = {"Aardvark": "An animal",
          "Banana": "A delicious fruit", 
          "Cyan": "A color"}

webster_series = pd.Series(webster)

In [7]:
webster_series

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

In [9]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
about_me_series = pd.Series(about_me)

In [11]:
about_me_series.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [15]:
about_me_series.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
about_me_series.dtype

dtype('O')

In [17]:
about_me_series.values.dtype

dtype('O')

### Methods

In [18]:
prices = [2.99, 4.45, 1.36]
prices_series = pd.Series(prices)

In [19]:
prices_series

0    2.99
1    4.45
2    1.36
dtype: float64

In [20]:
prices_series.sum()

8.8

In [21]:
prices_series.product()

18.095480000000006

In [22]:
prices_series.mean()

2.9333333333333336

In [23]:
prices_series.median()

2.99

In [24]:
prices_series.mode()

0    1.36
1    2.99
2    4.45
dtype: float64